@using JSMES.WebUI.Alpha.App_GlobalResources
@model JSMES.WebUI.Alpha.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_SingleLayout.cshtml";
    ViewBag.Title = "Forgot your password?";
}
<div class="card-body">
    <h2>@LabelText.FORGET_YOUR_PASSWORD</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frm" }))
    {
        @Html.AntiForgeryToken()
        <h4>@LabelText.PASSWORD_TYPE</h4>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="padding:40px;">
                        <ul style="list-style:none">
                            <li>
                                <span>
                                    <input id="searchSMS" type="radio" name="searchType" checked="checked" style="width: 16px; height: 16px; margin-top: 2px; position: absolute;" onclick="selectType('SMS')" />
                                    <label for="searchSMS" style="line-height: 17px; cursor: pointer; display: inline-block"><span style="padding-left: 21px; width: 16px; height: 16px;"></span>등록된 휴대폰으로 찾기</label>
                                </span>
                                <div id="SMS">
                                    <div class="form-group">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SMSUserCode, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.SMSUserCode, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.SMSUserCode, "", new { @style = "margin-top:10px;color:red;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SMSUserName, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.SMSUserName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.SMSUserName, "", new { @style = "margin-top:10px;color:red;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "01012345678", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @style = "margin-top:10px;color:red;" })
                                                @Html.TextBoxFor(m => m.Type, new { @class = "form-control", @style = "display:none" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <hr/>
                            <li>
                                <span>
                                    <input id="searchEmail" type="radio" name="searchType" checked="checked" style="width: 16px; height: 16px; margin-top: 2px; position: absolute;" onclick="selectType('Email')" />
                                    <label for="searchEmail" style="line-height: 17px; cursor: pointer; display: inline-block"><span style="padding-left: 21px; width: 16px; height: 16px;"></span>등록된 이메일로 찾기</label>
                                </span>
                                <div id="Email" style="display:none;">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EmailUserCode, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.EmailUserCode, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EmailUserCode, "", new { @style = "margin-top:10px;color:red; display:none;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EmailUserName, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.EmailUserName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="@LabelText.NEXT" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var rand = Math.floor(Math.random() * (999999 - 100000)) + 100000;

    $(document).ready(function () {
        document.getElementById("searchSMS").checked = true;
        document.getElementById("Type").value = "SMS";
    });

    function selectType(obj) {
        if (obj == "SMS") {
            document.getElementById(obj).style.display = "";
            document.getElementById("Email").style.display = "none";
            document.getElementById("Type").value = obj;

            /*Reset*/
            document.getElementById("EmailUserCode").value = null;
            document.getElementById("EmailUserName").value = null;
            document.getElementById("Email").value = null;

        }
        else if (obj == "Email") {
            document.getElementById(obj).style.display = "";
            document.getElementById("SMS").style.display = "none";
            document.getElementById("Type").value = obj;

            /*Reset*/
            document.getElementById("SMSUserCode").value = null;
            document.getElementById("SMSUserName").value = null;
            document.getElementById("SMS").value = null;
        }
    }

</script>