@using JSMES.WebUI.Alpha.App_GlobalResources
@model JSMES.WebUI.Alpha.ViewModels.RegisterViewModel
@{
    Layout = "~/Views/Shared/_SingleLayout.cshtml";
    ViewBag.Title = "Register";    
}
<div class="card-body">
    <h2>@LabelText.REGISTER</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()
        <h4 class="text-secondary">@LabelText.REGISTER_INFOMATION</h4>
        <hr/>
            
        @Html.ValidationSummary("", new {@class = "col-12 text-danger error-ul-margin"})
            
        <div class="form-group">
            @Html.LabelFor(m => m.UserCode, new {@class = "col-md-3 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserCode, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new {@class = "col-md-3 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "col-md-3 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                <label id="emailHelp" class="form-text text-muted">@LabelText.EMAIL_HELP</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new {@class = "col-md-3 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "01012345678", @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new {@class = "col-md-3 control-label"})
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <label class="form-text text-muted">@LabelText.PASSWORD_HELP</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-3 control-label"})
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="@LabelText.SIGN_UP"/>
            </div>
        </div>
    }
</div>